.close-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-icon {
  color: #75787d;
}

.image {
  height: 30px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image > input {
  display: none;
}

.blog-modal-btn {
  border-radius: 50px;
  border: none;
  background: #0c8ed3;
  border: 1px solid #0c8ed3;
  color: white;
}
.blog-modal-btn:hover {
  color: #0c8ed3 !important;
  background-color: #ffffff;
  border: 1px solid #0c8ed3;
}
